*{margin: 0; padding: 0;}
.wrap {
    width: 800px;
    margin: auto;
    text-align: left;
    font-size: larger;
}
.modal{
    display: flex;
    align-items: center;  
    justify-content: center;
  }
  
.header{
    width: 800px;
    margin: auto;
    text-align: center;
}
.content {
    text-align: left;
    font-size: larger;
}
.test-data{
    border: 10px solid #5c5858;
    padding: 10px;
    margin: 0 0 20px 0;
}
.q{
    border-bottom: 1px solid #000 ;
    font-weight: bold;
}
.a{
    padding: 5px 0;
}
.center{
    display:block;
    margin: auto;
    text-align: center;
}
button.btn{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 12px;
    text-decoration: none;
    background: #dcdcdc linear-gradient(#fff, #dcdcdc);
    color: #000;
    cursor: pointer;
    transition: all .3s;
}
button.btn:hover{
    background: #dcdcdc linear-gradient(#dcdcdc, #fff);
    box-shadow: 0 0 2px #aaa;
}
.none{
    display: none;
}

